*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#bg{
    background-color: rgb(15, 4, 36);
    height: 100vh;
    color: white;
}

#main{
    color: white;
}

.keys{
    /* width: 200px; */
    /* height: 200px; */
    /* width: 50%;
    height: 50%; */
    text-align: center;
    background-color: rgb(72, 20, 167);
    /* border-radius: 5px; */
}

.game{
    height: 80vh;
}
/* 
.keys{
    height: 20vh;
    width: 30vh;
} */

.selected{
    background-color: rgb(20, 138, 167);
}

.failedKeys{
    background-color: gray;
}

#play, #nextRound{
    color: rgb(20, 138, 167);
    cursor: pointer;
}

#outcomeMsg{
    opacity: 0;
    /* display: flex; */
    flex-direction: column;
    text-align: center;
}

#outcomeMsg .win{
    opacity: 0;
}
