*{
    margin: 0;
    padding: 0;
    background-color: rgb(15, 4, 36);
}

#bg{
    color: white;
}

.gamerows{
    width: 100%;
    height: 60%;
}

.gamerows .row{
        /*background-color: #ffffff;*/
        height: 100%;
}


.game{
    height: 70%;
}

#main{
    color: white;
}

.keys{
    /* width: 200px; */
    /* height: 200px; */
    /* width: 50%;
    height: 50%; */
    text-align: center;
    background-color: rgb(72, 20, 167);
    /*padding: 50px;*/
    /* border-radius: 5px; */
}

/* 
.keys{
    height: 20vh;
    width: 30vh;
} */

.selected{
    background-color: rgb(20, 138, 167);
}

.failedKeys{
    background-color: gray;
}

#play, #nextRound, #retry{
    color: rgb(20, 138, 167);
    cursor: pointer;
}

#outcomeMsg{
    opacity: 0;
    /* display: flex; */
    flex-direction: column;
    text-align: center;
}

#outcomeMsg .win{
    opacity: 0;
}